html {
    background-color: rgb(255, 255, 255);
}
body{
    background-color: rgb(200, 200, 203);
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Barlow', sans-serif;
}
header, footer {
    background-color: #4cacff;
    color: white;
}
#name {
    background-color: red;
}

ul {
    margin: 0;
    padding: 0;
}

header li{
   display:  inline;
}
header h1, nav {
display: inline-block;
}
.product {
    box-sizing: border-box;
    border: 1px solid grey; 
    width: 210px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

main {
    width: 680px;
    display: inline-block;
}
aside{
    width: 270px ;
    display: inline-block;
    vertical-align: top;
}

img{
    max-width: 100%;
} 

.button {
    padding: 10px;
    display: inline-block;
}